src/GymBooster.WindowsSilverPhone/Service References/GymBoosterService/GymBoosterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49246/GymBoosterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GymBooster.Core.Entities" />
  <xs:element name="GetAllTrainings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTrainingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GymBooster.Core.Entities" minOccurs="0" name="GetAllTrainingsResult" nillable="true" type="q1:ArrayOfTraining" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>